.wrapper {
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid;
  border-color: red; */
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
